{% extends 'base_table.html' %}

 {% block sortform %}
    <td colspan="8" style="height: 60px;">
        <form action="{{ url_for('get_all_clients') }}" class="datetime-form">

            <div class="formblock">
                <label for="sort-input" class="sort-label">Sort by: </label>
                <select name="sort-input" id="sort-input" class="sort-input">
                    <option value="first_name">First name</option>
                    <option value="last_name">Last name</option>
                    <option value="num_orders">Number of orders</option>
                </select>
                <br>
                <label for="desc">Descending</label>
                <input type="checkbox" id="desc" name="desc" value="{{ desc }}">

            </div>

            <input type="submit" class="submit-button" value="" style="margin-bottom: 20px;">
        </form>
    </td>
{% endblock sortform %}

{% block links %}
    <td class="table-block"><a href="{{ url_for('get_all_orders') }}">Orders</a></td>
    <td class="chosen-table-block"><a href="{{ url_for('get_all_clients') }}">Clients</a></td>
    <td class="table-block"><a href="{{ url_for('get_all_tours') }}">Tours</a></td>
{% endblock links %}

{% block content %}
    <tr>
        <td class="column-title">First name</td>
        <td class="column-title">Last name</td>
        <td class="column-title">Email</td>
        <td class="column-title" colspan="2">Registration date</td>
        <td class="column-title" colspan="1">Number of orders</td>
        <td colspan="2" class="column-title"></td>
    </tr>

    {% for client in clients %}
        <tr>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.email }}</td>
            <td colspan="2">{{ client.registration_date }}</td>
            <td colspan="1">{{ client.number_of_orders }}</td>
            <td><a href="{{ url_for('edit_client', passport=client.passport) }}"><img src="{{ url_for('static', filename='icons/edit.png') }}" alt="edit" class="edit-icon"></a></td>
            <td>
                <form action="{{ url_for('delete_client', passport=client.passport) }}" method="post">
                    <input type="submit" class="delete-button delete-icon" value="">
                </form>
            </td>
        </tr>
    {% endfor %}

{% endblock content %}