<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-item_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <table class="edit-table">
        <thead>
            <td colspan="8" class="table-title"><b>{{ title }}</b></td>
        </thead>

        <form action="{{ submit_url }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <tr class="main-row">
                {% block links %}
                {% endblock links %}

                <td colspan="2">
                    <a href="{{ url_for(cancel_button) }}"><div class="cancel-button"><p>Cancel</p></div></a>
                    <input type="submit" class="add-button" value="Save">
                </td>
            </tr>

            {% block content %}
            {% endblock content %}

        </form>

    </table>

</body>
</html>