{% extends 'add_edit_form.html' %}

{% block content %}
     <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.tour_name.label(class="labels") }}:
            {{ form.tour_name() }}

        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.hotel_name.label(class="labels") }}:
            {{ form.hotel_name() }}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.tour_includes.label(class="labels") }}:
            {{ form.tour_includes(type="text") }}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.day_cost.label(class="labels") }}:
            {{ form.day_cost(type="date") }}
        </td>
    </tr>

{% endblock content %}