{% extends 'add_edit_form.html' %}

{% block links %}
    <td class="table-block"><a href="{{ url_for('get_all_orders') }}">Orders</a></td>
    <td class="chosen-table-block"><a href="{{ url_for('get_all_clients') }}">Clients</a></td>
    <td class="table-block"><a href="{{ url_for('get_all_tours') }}">Tours</a></td>
{% endblock links %}

{% block content %}
     <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.first_name.label(class="labels") }}:
            {{ form.first_name() }}

            {% for error in form.first_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.second_name.label(class="labels") }}:
            {{ form.second_name() }}

            {% for error in form.second_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.email.label(class="labels") }}:
            {{ form.email() }}

            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.passport.label(class="labels") }}:
            {{ form.passport() }}

            {% for error in form.passport.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.register_date.label(class="labels") }}:
            {{ form.register_date(type="date") }}

            {% for error in form.register_date.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>

{% endblock content %}