{% extends 'add_edit_form.html' %}

{% block links %}
    <td class="table-block"><a href="{{ url_for('get_all_orders') }}">Orders</a></td>
    <td class="chosen-table-block"><a href="{{ url_for('get_all_clients') }}">Clients</a></td>
    <td class="table-block"><a href="{{ url_for('get_all_tours') }}">Tours</a></td>
{% endblock links %}

{% block content %}
     <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.first_name.label(class="labels") }}:
            {{ form.first_name() }}

        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.second_name.label(class="labels") }}:
            {{ form.second_name() }}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.passport.label(class="labels") }}:
            {{ form.passport() }}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.register_date.label(class="labels") }}:
            {{ form.register_date(type="date") }}
        </td>
    </tr>

{% endblock content %}