{% extends 'add_edit_form.html' %}


{% block links %}
    <td class="table-block"><a href="{{ url_for('get_all_orders') }}">Orders</a></td>
    <td class="table-block"><a href="{{ url_for('get_all_clients') }}">Clients</a></td>
    <td class="chosen-table-block"><a href="{{ url_for('get_all_tours') }}">Tours</a></td>
{% endblock links %}

{% block content %}
     <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.tour_name.label(class="labels") }}:
            {{ form.tour_name() }}

        </td>
    </tr>
     <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.country.label(class="labels") }}:
            {{ form.country() }}

        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.hotel_name.label(class="labels") }}:
            {{ form.hotel_name() }}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.tour_includes.label(class="labels") }}:
            {{ form.tour_includes(type="text") }}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.day_cost.label(class="labels") }}:
            {{ form.day_cost(type="number", min="1")}}
        </td>
    </tr>

{% endblock content %}