{% extends 'add_edit_form.html' %}

{% block links %}
    <td class="chosen-table-block"><a href="{{ url_for('get_all_orders') }}">Orders</a></td>
    <td class="table-block"><a href="{{ url_for('get_all_clients') }}">Clients</a></td>
    <td class="table-block"><a href="{{ url_for('get_all_tours') }}">Tours</a></td>
{% endblock links %}

{% block content %}
     <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.client_pass.label(class="labels") }}:
            {{ form.client_pass() }}

            {% for error in form.client_pass.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.tour_id.label(class="labels") }}:
            {{ form.tour_id() }}

            {% for error in form.tour_id.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.days.label(class="labels") }}:
            {{ form.days() }}

            {% for error in form.days.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            {{ form.add_date.label(class="labels") }}:
            {{ form.add_date(type="date") }}

            {% for error in form.add_date.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>

{% endblock content %}